.welcome-section {
  background: url(../images/content/backgrounds/bg1.png) center center / cover no-repeat;
}

.hero__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero__content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}
