.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(to right, $orange1 0%, $orange2 100%);

  &:hover {
    background: linear-gradient(to right, $orange3 0%, $orange4 100%);
  }
}