.copyright {
    color: $text-darker;
    display: inline-flex;
}

.copyright__year {
    font-size: 48px;
}

.copyright__info {
    display: block;
}

.copyright__name {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: $white;
}
