.user-info {
    display: flex;
}

.user-info__desc {
    font-size: 18px;
    font-weight: 600;
    color: $text;
}

.user-info__name {
    font-size: 72px;
    font-weight: 800;
    color: $white;
}