.user__photo-wrap {
    width: 200px;
    height: 200px;
    margin: 0 auto 80px;
}

.user__photo {
    border-radius: 50%;
}


.user__data {
    color: $white;
}

.user__data-cell-key {
    color: $text-darker;
    padding-right: 80px;
}

